.container
    .post-view
      .row 
        .col-md-2
        .col-md-8
          h1.post-heading #{post.title}
          span.author-info
            img.author-img(src=`${post.author.gravatar}` alt=`${post.author.name}'s pic`)
            b #{post.author.name}
          p.post-body #{post.body}
          hr.hr-title
          .post-actions
            - const upvoteString = post.upvotes.map(store => store.toString())
            - const isUpvoted = upvoteString.includes(user && user._id.toString())
            if isUpvoted
              a.text-uppercase(href=`/post/${post.slug}/downvote`) 
                span.glyphicon.glyphicon-chevron-down &nbsp;
                b Downvote
            else 
              a.text-uppercase(href=`/post/${post.slug}/upvote`) 
                span.glyphicon.glyphicon-chevron-up &nbsp;
                b Upvote 
            - const isAuthor = post.author._id.toString() === (user && user._id.toString())
            if isAuthor
              a.text-uppercase(href=`/post/${post.slug}/delete`) 
                span.glyphicon.glyphicon-trash &nbsp;
                b Delete 
              a.text-uppercase(href=`/post/${post.slug}/update`) 
                span.glyphicon.glyphicon-edit &nbsp;
                b Update
        