.container
    .post-view
      .row 
        .col-md-2
        .col-md-8
          h1.post-heading #{post.title}
          span.author-info
            img.author-img(src=`${post.author.gravatar}` alt=`${post.author.name}'s pic`)
            b #{post.author.name}
          p.post-body #{post.body}
          hr.hr-title
          if post.author._id.toString() === (user && user._id.toString())
            .post-actions
              if post.upvotes.includes(user && user._id.toString())
                a.text-uppercase(href=`/post/${post.slug}/upvote`) 
                  span.glyphicon.glyphicon-chevron-up &nbsp;
                  b Upvote 
              else 
                a.text-uppercase(href=`/post/${post.slug}/downvote`) 
                  span.glyphicon.glyphicon-chevron-down &nbsp;
                  b Downvote
              a.text-uppercase(href=`/post/${post.slug}/delete`) 
                span.glyphicon.glyphicon-trash &nbsp;
                b Delete 
              a.text-uppercase(href=`/post/${post.slug}/update`) 
                span.glyphicon.glyphicon-edit &nbsp;
                b Update
        