extends ../layout

block content
  .container
    .post-view
      .row 
        .col-md-2
        .col-md-8
          h1.post-heading #{post.title}
          a(href=`/user/${post.author._id}`)
            img.author-img(src=`${post.author.gravatar}` alt=`${post.author.name}'s pic`)
            |  #{post.author.name}
          p.post-body #{post.body}
          hr.hr-title
          a.btn.btn-danger(href=`/post/${post.slug}/delete`) Delete Post
