extends ../layout

block content
  .container
    .post-view
      .row 
        .col-md-2
        .col-md-8
          h1.post-heading #{post.title}
          a.author-info(href=`/user/${post.author._id}`)
            img.author-img(src=`${post.author.gravatar}` alt=`${post.author.name}'s pic`)
            |  #{post.author.name}
          p.post-body #{post.body}
          hr.hr-title
          .post-actions
            a.text-uppercase(href=`/post/${post.slug}/delete`) 
              span.glyphicon.glyphicon-trash &nbsp;
              b Delete 
            a.text-uppercase(href=`/post/${post.slug}/update`) 
              span.glyphicon.glyphicon-edit &nbsp;
              b Update
        
    .comment-view
      .row 
        .col-md-2
        .col-md-8
          h3 Comments 
          form(action="/${post.slug}/comment/add" method="POST")
            .form-group
              label.sr-only(for="comment-body") Add Your Comment
              textarea.form-control#comment-body(name="body" placeholder="This is an awesome post...")
              input.btn.btn-default(type="submit" value="Submit")
          each comment in post.comments
            .panel
              .panel-body
                span(class="comment-author") #{comment.author.name}
                p #{comment.body}
