extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .container
      .row 
        .col-md-10.col-sm-2
        a.text-uppercase(href="/addPost")
          span.glyphicon.glyphicon-plus
          |  <b> Add new Post</b> 

      each post in posts
        .row
          .col-md-2
          .col-md-8
            .panel
              .panel-body
                h3 #{post.title}
                p #{post.body}
                a.btn.btn-default(href=`/post/${post.slug}`, role='button') View Post ➡
      